.browser-bar-android {
  width: 360px;
}

.browser-bar-android .overlap-group {
  background-color: #ffffff;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.browser-bar-android .home {
  height: 22px;
  left: 12px;
  position: absolute;
  top: 59px;
  width: 21px;
}

.browser-bar-android .union {
  height: 16px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 17px;
}

.browser-bar-android .address-field {
  background-color: var(--androidchromeaddress-field-background-light);
  border-radius: 18px;
  height: 36px;
  left: 45px;
  overflow: hidden;
  position: absolute;
  top: 52px;
  width: 228px;
}

.browser-bar-android .frame {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  left: 13px;
  position: relative;
  top: 12px;
  width: fit-content;
}

.browser-bar-android .vector {
  height: 13px;
  min-width: 10px;
  position: relative;
}

.browser-bar-android .example-com {
  color: var(--black);
  font-family: "Roboto", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 13px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.browser-bar-android .img {
  height: 24px;
  left: 323px;
  position: absolute;
  top: 58px;
  width: 24px;
}

.browser-bar-android .android-status-bar {
  height: 24px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 360px;
}

.browser-bar-android .time {
  height: 16px;
  opacity: 0.9;
  position: absolute;
  top: 4px;
  width: 42px;
}

.browser-bar-android .element {
  color: var(--androidtext-secondary);
  font-family: "Product Sans-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 40px;
}

.browser-bar-android .signal-wifi {
  height: 14px;
  left: 316px;
  position: absolute;
  top: 5px;
  width: 14px;
}

.browser-bar-android .signal-cellular {
  height: 14px;
  left: 298px;
  position: absolute;
  top: 5px;
  width: 14px;
}

.browser-bar-android .battery-full {
  height: 14px;
  left: 332px;
  position: absolute;
  top: 5px;
  width: 14px;
}

.browser-bar-android .frame-wrapper {
  background-color: var(--androidchromeaddress-field-background-dark);
  border-radius: 18px;
  height: 36px;
  left: 45px;
  overflow: hidden;
  position: absolute;
  top: 52px;
  width: 228px;
}

.browser-bar-android .text-wrapper {
  color: var(--white);
  font-family: "Roboto", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 13px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.browser-bar-android .chrome-tabs {
  background-image: url(https://generation-sessions.s3.amazonaws.com/cce779fa8a014fa26748b78b77b78d9c/img/vector-10@2x.png);
  background-size: 100% 100%;
  height: 22px;
  left: -311px;
  position: absolute;
  top: -3770px;
  width: 22px;
}

.browser-bar-android .union-2 {
  height: 16px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 16px;
}

.browser-bar-android .element-wrapper {
  height: 16px;
  opacity: 0.9;
  position: absolute;
  top: 4px;
  width: 42px;
}

.browser-bar-android .div {
  color: var(--white);
  font-family: "Product Sans-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 40px;
}

.browser-bar-android .android-status-bar-wrapper {
  box-shadow: 0px 4px 4px #00000040;
  height: 45px;
}

.browser-bar-android .android-status-bar-2 {
  height: 24px;
  position: relative;
  top: 16px;
  width: 360px;
}

.browser-bar-android .div-wrapper {
  height: 16px;
  opacity: 0.9;
  position: absolute;
  top: 4px;
  width: 42px;
}

.browser-bar-android .element-2 {
  font-family: "Product Sans-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 40px;
}

.browser-bar-android.full {
  height: 96px;
  overflow: hidden;
  position: relative;
}

.browser-bar-android.light {
  background-color: var(--white);
}

.browser-bar-android.scroll {
  background-color: var(--white);
  height: 45px;
}

.browser-bar-android.full.light {
  box-shadow: 0px 1px 4px #00000033;
}

.browser-bar-android.full.dark {
  background-color: #35363a;
  box-shadow: 0px 4px 4px #00000040;
}

.browser-bar-android .on {
  left: 54px;
}

.browser-bar-android .off {
  left: 14px;
}

.browser-bar-android .punch-hall-on {
  left: 54px;
}

.browser-bar-android .punch-hall-off {
  left: 14px;
}

.browser-bar-android .punch-hall-0-on {
  left: 54px;
}

.browser-bar-android .punch-hall-0-off {
  left: 14px;
}

.browser-bar-android.dark .android-status-bar-wrapper {
  background-color: #35363a;
}

.browser-bar-android.light .android-status-bar-wrapper {
  background-color: #ffffff;
}

.browser-bar-android.dark .element-2 {
  color: var(--white);
}

.browser-bar-android.light .element-2 {
  color: var(--androidtext-secondary);
}
